html{
    background-color: #34373C;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, input, button {
    font-family: 'Open Sans', sans-serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202225;
    color: #7289DA;
}

main {
    max-width: 900px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}
input{
    background-color: #40444B;
    color: whitesmoke;
}
.reset{
    background-color: #4752C4;
    border-style: none;
    border: 1px solid #4752C4;
    padding: 5px;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
}
.reset:hover{
    background-color: #5e47c4;
    cursor: pointer;
}
.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #202225;
    border-radius: 10px;
    background-color: #202225;
}

.input_section > h2 {
    text-align: center;
    color: white
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #4752C4;
    color: whitesmoke;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}
.input_section > form > button:hover {
    background-color: #5e47c4;
    color: whitesmoke;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}



.input_section > form > .input > label {
    color: white;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #4783c4;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #202225;
    border-radius: 10px;
    background-color: #202225;
    color: whitesmoke;
}

.search_section > h2 {
    color: whitesmoke;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr 0.5fr;
    grid-gap: 10px;
}

.search_section > form > label {
    display: flex;
    align-items: center;
}

.search_section > form > input {
    padding: 5px;
    border-radius: 5px;
}

.search_section > form > button {
    background-color: #4752C4;
    color: white;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}
.book_item{
    background-color: #2C2F33;
    border : 1px solid #2C2F33 !important;
}
.row::after {
    content: "";
    display: table;
    clear: both;
  }
.book_shelf {
    float: left;
    width: 50%;
    height: 100%;
    margin: 16px 0 0 0;
    border: 1px solid #3c3c3c;
    padding: 16px;
    border-radius: 10px;
    color: whitesmoke;
    background-color: #202225;
}
@media screen and (max-width: 600px) {
    .book {
      width: 100%;
    }
  }
.book_shelf > h2 {
    color: white;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 6px 6px 6px 6px;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #346751;
    color: white;
    white-space: pre;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #CD113B;
    color: white;
}
.book_shelf > .book_list > .book_item > .action > .blue {
    background-color: rgb(0, 87, 144);
    color: white;
}
.book_shelf > .book_list > .book_item > .action > .yellow{
    background-color: rgb(4, 61, 99);
    color: white;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
 
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  

  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
 
  .form-container input[type=text], .form-container input[type=number] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    color: black;
  }
  
 
  .form-container input[type=text]:focus, .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }
  

  .btn {
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  
  .form-container .cancel {
    background-color: #df2935;
  }
  
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }